<div class='listing-top-bar'>
  <h1 class='table-title'>Notices</h1>
  <div class='table-actions'>
    <%= link_to 'New Notice', new_notice_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>#<th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= link_to notice.id, notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
